body {
    font-family: sans-serif;
}

.Main {
    display: flex;
    gap: 1vh;
}

.Button {
    height: 8vh;
    width: 8vh;
    background-color: greenyellow;
    text-wrap: wrap;
    white-space: normal;

    animation-name: MainAnimation;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes MainAnimation {
    0% {
        background-color: rgb(255, 0, 0);
    }

    50% {
        background-color: rgb(0, 255, 0);
    }

    100% {
        background-color: rgb(0, 0, 255);
    }
}